/* COMPARISON TABLE */
.comparisontable {

}

.comparisontable-item {
	text-align: center;
}


/* header */
.comparisontable-item .panel-heading {

}

.comparisontable-item .panel-heading h4 {
	font-weight: 600;
}

.comparisontable-item .panel-heading p {
	margin-top: 10px;

	text-transform: none;
}


/* feature list */
.comparisontable-item .list-group {
	
}

.comparisontable-item .list-group-item {
	
}

.comparisontable-item-list-item-label {
	
}

.comparisontable-item-list-item-value {
	
}

.comparisontable-item-list-item-value--checked {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 300%;

	background-image: url( ../img/icon-check-16--text.png );	
	background-image: url( ../img/icon-check-16--text.svg );	
	background-repeat: no-repeat;
	background-position: center center;
}


/* footer */
.comparisontable-option {
	margin-top: 20px;
	margin-bottom: 20px;
}

@media ( min-width: 768px ) { 
	.comparisontable[data-payment='monthly'] .comparisontable-option[data-option='yearly-payment'],
	.comparisontable[data-payment='yearly'] .comparisontable-option[data-option='monthly-payment'] {
		display: none;
	}
}

.comparisontable-item .panel-footer {

}

.comparisontable-item-price {
	margin-top: 10px;
	margin-bottom: 10px;
}

.comparisontable-item-price-price {
	font-size: 20px;
}

.comparisontable-item-price-interval {
	font-size: 14px;

	opacity: 0.8;
}

.comparisontable-item-action {
	margin-top: 20px;
	margin-bottom: 10px;
}


	/* legend */
.comparisontable-item--legend {
	margin-top: 61px;

	text-align: left;

	border-color: transparent;
}

.comparisontable-item--legend .list-group-item {
	border-color: transparent;
} 


	/* highlighted */
.comparisontable-item--highlighted {
	margin-top: -26px;
}

.comparisontable-item--highlighted .panel-heading {
	color: #8b1407;

	background-color: #ece1e0;
}

.comparisontable-item--highlighted .panel-footer {
	min-height: 161px;

	color: #8b1407;

	background-color: #ece1e0;
}

@media ( max-width: 768px ) { 
	.comparisontable-item--highlighted {
		margin-top: 0;
	}

	.comparisontable-item--highlighted .panel-footer {
		min-height: 0;
	}	
}



/* PAYMENT SWITCH */
.paymentswitch {
	display: none;
}

.paymentswitch--initiated .paymentswitch {
	display: block;
}

.paymentswitch-label {
	position: relative;

	margin: 0;
	padding-left: 3em;

	cursor: pointer;	
}

.paymentswitch-label::before {
	content: ' ';

	position: absolute;
	top: 0;
	left: 0;

	display: inline-block;
	vertical-align: baseline;
	width: 2em;
	height: 2em;
	margin: -0.25em 0 0 0;

	background-color: #fff;	
	background-repeat: no-repeat;
	background-position: center center;	
	border-radius: 50%;
}

.paymentswitch-input:checked + .paymentswitch-label::before {
	background-image: url( ../img/icon-check-16--text.png );	
	background-image: url( ../img/icon-check-16--text.svg );
}

.paymentswitch-input {
	display: none;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;

	overflow: hidden;

	opacity: 0;
}