/* 100  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Thin.woff2') format('woff2'),
         url('WorkSans-Thin.woff') format('woff'),
         url('WorkSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* 200  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-ExtraLight.woff2') format('woff2'),
         url('WorkSans-ExtraLight.woff') format('woff'),
         url('WorkSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* 300  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Light.woff2') format('woff2'),
         url('WorkSans-Light.woff') format('woff'),
         url('WorkSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* 400  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.woff2') format('woff2'),
         url('WorkSans-Regular.woff') format('woff'),
         url('WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* 500  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Medium.woff2') format('woff2'),
         url('WorkSans-Medium.woff') format('woff'),
         url('WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* 600  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-SemiBold.woff2') format('woff2'),
         url('WorkSans-SemiBold.woff') format('woff'),
         url('WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* 700  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Bold.woff2') format('woff2'),
         url('WorkSans-Bold.woff') format('woff'),
         url('WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* 800  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-ExtraBold.woff2') format('woff2'),
         url('WorkSans-ExtraBold.woff') format('woff'),
         url('WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* 900  */
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Black.woff2') format('woff2'),
         url('WorkSans-Black.woff') format('woff'),
         url('WorkSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}